
<!-- <app-topbar></app-topbar> -->

<div class="">
  <mat-toolbar>
    <div class="col-md-6 col-xs-12 col-sm-12">
      <div class="left app-topbar" float='left'><a href="https://tappwater.co/"><img src="/../../assets/logo-wbg.svg"></a></div>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12">
      <div class="right" float='right'>
        <h2 class="link_url"><a href="https://tappwater.co/">Continue to tappwater.com</a></h2></div>
    </div>

  
  </mat-toolbar>
</div>
<div class="container" >
    <div class="row margin_top">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-xs-12 col-sm-12">

            <img src="../../assets/background@2x.png" >
            <h1>           

                {{ 'HOME.heading1' | translate }}<br>{{ 'HOME.heading2' | translate }}
            </h1>
            <p>

                {{ 'HOME.subheading1' | translate }}  
            </p>
            <form class="form">
              <!-- <div  class="select_select">
                <select name="country" id="country" class="div_1" [(ngModel)]="country" (change)="data.country=$event.target.value">
                    <option *ngFor="let option of countriesOptions" [value]="option" >{{option}}</option>
                </select>
              </div> -->
              <mat-form-field class="extera">
                 <mat-select [(value)]="country" class="country_select"  (selectionChange)="change_country(country)">
                  <mat-option *ngFor="let option of countriesOptions" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
                <input type="text"  autocomplete="off" [placeholder]="'HOME.placeholder' | translate" name="postcode" [(ngModel)]="data.postcode">

              <!-- <br> -->
              <!-- =translate.use(selectedCode) -->
                <mat-form-field class="select">
                 <mat-select [(value)]="selectedCode" (selectionChange)="function1(lang_data,selectedCode)">
                  <mat-option class="option_item" *ngFor="let language of languages" [value]="language.value">
                      <img class="select_img"src='{{language.img}}'> {{language.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <img class="select_img position_img" *ngIf="value=='English'" src='../../assets/english.png'>
                <img class="select_img position_img" *ngIf="value=='Spanish'" src='../../assets/spanish.png'>              
                <img class="select_img position_img" *ngIf="value=='Italian'" src='../../assets/it.png'>              
                <br>
                <span *ngIf="msg_con" class="error_msg">*{{msg}}</span>

                <button class="button_reset" type="submit" (click)="okay()" [disabled]="!data.postcode"> {{ 'HOME.Ok' | translate }} </button>
            </form>
            
       
        <div class="top">
            <span>* {{'Report.Under_Review_heading' |translate}}</span>
        </div>
        </div>
        <div class="col-md-3"></div>
        
        
        </div>
</div>

