<div class="panel-header panel-header-sm">
</div>


       <!-- <div class="col-md-12 col-sm-12"> -->
         <div class="change_design">
          <div >
            <h2 style="color:white;text-align:left;">Request for postcode</h2>
          </div>
          <mat-card>
            <br>
            <br>
            <mat-form-field style="width:50%">
              <mat-label>Search</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="searching">
            </mat-form-field>
            <!-- <br> -->
            
            <table mat-table [dataSource]="dataSource"  >

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element  ;let i = index;"> {{i+1}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element. email}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="postcode">
                <th mat-header-cell *matHeaderCellDef> Postcode </th>
                <td mat-cell *matCellDef="let element"> {{element.postcode}} </td>
              </ng-container>
            
              <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef> Country </th>
                <td mat-cell *matCellDef="let element"> {{element.country}} </td>
              </ng-container>

              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.createdAt | date : "dd/MM/y"}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> <button mat-raised-button type="submit" class="btn " style="background:red;color:white" (click)="delete(element._id)">Delete</button> 
                </td>
              </ng-container>
              <!-- action -->
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

          </mat-card>

         </div>

      <!-- </div> -->
  
  <!-- </div> -->
<!-- </div> -->
