.show {
    position: absolute;
    /* width: 100%; */
}

table {
    width: 100%;
  }

  .change_design {
    /* width: 80%; */
    /* text-align: center; */
    padding-left: 6%;
    padding-right: 6%;
    position: absolute;
    top: 35px;
    width: 100%;

}