
<header>
  <div class="row">
    <div class="col-sm-4 col-md-4">

      <label>

        <select #langSelect (change)="translate.use(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
      </label>
    </div>


  <div class="col-sm-6 col-md-6 ">   
    <h2 style="color:white;font-size:25px;margin-left:10%">
      {{ 'HOME.TITLE' | translate }}</h2>   
   </div>
<div class="col-sm-2 col-md-2">
<div style="float:right">
  <a ><i class="fa fa-shopping-cart"></i></a> &nbsp;&nbsp;
  <a ><i class="fa fa-user-circle" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
</div>
 
</div>

</div>
</header>

<mat-toolbar>
  
      <div class="left"><img src="/../../assets/logo-wbg.svg"></div>
      <div class="right">

        <div class="topnav" id="myTopnav" style="float:right">
          <a  class="active">
            {{ 'HOME.Product' | translate }}
          </a>
          <a>
            {{ 'HOME.Blog' | translate }}
          </a>
          <a > {{ 'HOME.Help' | translate }}</a>
          <a>
            {{ 'HOME.About_us' | translate }}           
          </a>
         
        </div>
      </div>

</mat-toolbar>